<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395746561147-p2m9l9mo50ov901hq98uigf7htct58ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395746561147-p2m9l9mo50ov901hq98uigf7htct58ph</string>
	<key>API_KEY</key>
	<string>AIzaSyBfboF3zPskmr4IfHSDm9toTfcKQioYsPg</string>
	<key>GCM_SENDER_ID</key>
	<string>395746561147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetodo</string>
	<key>PROJECT_ID</key>
	<string>yapilacaklar-1ff0a</string>
	<key>STORAGE_BUCKET</key>
	<string>yapilacaklar-1ff0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395746561147:ios:cf73cbb8d03d0f1cbaa6de</string>
</dict>
</plist>